/* 

--- TYPOGRAPHY ---
Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Spacing (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Font weights: 
400 500 600 700

Line heights: 
1 1.05 1.2 1.6

Letter spacing:
-0.1rem 0.75px

--- COLORS ---
  Primary:
    Tints:
    Shades: 
    Accents: 
    Greys: 

--- SHADOWS ---
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- BORDER RADIUS ---
  10px

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
}

*:focus {
  outline: none; /* disable the default browser outline for all cases */
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.3rem oklch(95.3% 0.051 180.801) !important;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: oklch(38.6% 0.063 188.416);
  color: oklch(95.3% 0.051 180.801);
  overflow-x: hidden;
}

/* GENERAL COMPONENTS */

.heading-primary {
  color: oklch(77.7% 0.152 181.912);
  text-align: center;
  font-size: 5.2rem;
  line-height: 1.05;
  letter-spacing: -0.1rem;
  font-weight: 300;
}

.heading-secondary {
  color: oklch(91% 0.096 180.426);
  font-size: 7.4rem;
  letter-spacing: -0.1rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.heading-tertiary {
  color: oklch(77.7% 0.152 181.912);
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.2s;

  /* Only necessaty for btn */
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container--large {
  max-width: 100rem;
}
.grid {
  display: grid;
  column-gap: 4rem;
  row-gap: 4rem;
}

.grid--align-center {
  align-items: center;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-right-s {
  margin-right: 1.6rem !important;
}

.margin-bottom-s {
  margin-bottom: 2.4rem !important ;
}

.margin-bottom-m {
  margin-bottom: 4.8rem !important ;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.hero-text-box .btn-link,
.hero-text-box .btn-link:visited {
  color: oklch(77.7% 0.152 181.912);
  box-shadow: oklch(77.7% 0.152 181.912) 0px 0px 4px;
  border-radius: 100%;
  text-align: center;
  padding: 0.8rem 0.9rem 0.4rem 0.9rem;
}

.hero-text-box .btn-link:hover,
.hero-text-box .btn-link:active {
  color: oklch(77.7% 0.152 181.912);
  box-shadow: oklch(77.7% 0.152 181.912) 0px 0px 10px;
}

.center {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  color: oklch(95.3% 0.051 180.801);
}

.ionicon {
  fill: #cbfbf1;
  height: 5rem;
}

.ionicon-btn {
  fill: oklch(77.7% 0.152 181.912);
  height: 2rem;
}
