/* HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(2, 47, 46, 0.6);
  padding: 0 4.8rem;
  height: 8rem;
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 2s;
}
.profile {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}
.profile-img {
  height: 6rem;
  border-radius: 50%;
}
.profile-title {
  font-size: 2.4rem;
  font-weight: 300;
  color: oklch(91% 0.096 180.426);
}

/* STICKY NAV */

.sticky .header {
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
}

/* NAVIGATION */
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s;
  color: oklch(77.7% 0.152 181.912);
  font-size: 1.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: oklch(91% 0.096 180.426);
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  color: oklch(77.7% 0.152 181.912);
  height: 4.8rem;
  width: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* HERO */
.section-hero {
  background-color: oklch(27.7% 0.046 192.524);
  display: grid;
  grid-template-columns: 1fr;
  padding: 12rem 0 4rem 0;
}

.hero-text-box {
  max-width: 80rem;
}

.nav-CTA:link,
.nav-CTA:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: oklch(77.7% 0.152 181.912);
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  padding: 0.8rem 1.6rem;
  text-align: center;
  box-shadow: oklch(77.7% 0.152 181.912) 0px 0px 4px;
  transition: all 0.2s;
}

.hero {
  display: grid;
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 0rem;
}

.hero-img {
  width: 100%;
}

/* PORTFOLIO */

.section-portfolio {
  padding: 8rem 0;
  margin-bottom: 2rem;
}

.project {
  display: grid;
  background-color: oklch(91% 0.096 180.426);
  overflow: hidden;
  border-radius: 2rem;
  grid-template-columns: 1fr 1fr;
}

.project-img-box {
  overflow: hidden;
}

.project-img {
  transition: all 0.5s;
  display: block;
  width: 100%;
  height: 100%;
}

.project-img:hover {
  transform: scale(1.1);
}

.project-text-box {
  padding: 2rem 3rem 2rem;
}
.project-title {
  font-size: 2.4rem;
  color: oklch(38.6% 0.063 188.416);
  margin-bottom: 1rem;
}

.project-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.project-tags--right {
  justify-content: end;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--python {
  background: #55b0ff;
}

.tag--html {
  background: #ff8b55;
}
.tag--css {
  background: #55b0ff;
}
.tag--js {
  background: #f1ff55;
}

.project-description {
  line-height: 1.5;
  margin-bottom: 0;
  color: oklch(27.7% 0.046 192.524);
  font-size: 1.6rem;
  animation: all 0.5s;
}

/* SKILLS */
.section-skills {
  background-color: oklch(27.7% 0.046 192.524);
  padding: 8rem 0;
}

.skill {
  display: grid;
  justify-content: center;
}

.skill-img {
  font-size: 8rem;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.skill-name {
  text-align: center;
  font-size: 2rem;
}

/* ABOUT */
.section-about {
  padding: 8rem 0;
}

/* FOOTER */
.footer {
  font-size: 2rem;
  padding: 4rem 0rem 2rem;
  background-color: oklch(27.7% 0.046 192.524);
}
